<header
  class="w-full bg-background justify-center shadow h-20 gap-4 text-primary-foreground flex items-center px-6"
>
  <div class="flex items-center gap-4 justify-between w-full max-w-6xl">
    <a href="/" class="flex items-center gap-4">
      <app-icon name="logo" class="text-secondary h-12 w-12"></app-icon>
    </a>
    <div class="flex items-center gap-2">
      <div
        class="flex w-8 h-8 bg-secondary/50 items-center gap-2 justify-center rounded-full"
      >
        <app-icon name="person" class="text-secondary h-6 w-6"></app-icon>
      </div>
      <div class="text-sm text-text font-medium">Vinícius</div>
    </div>
  </div>
</header>
