@import "tailwindcss";

@theme {
  --color-primary: oklch(0.6585 0.2001 37.54);
  --color-primary-foreground: oklch(1 0 0);
  --color-secondary: oklch(0.2343 0.0202 245.64);
  --color-secondary-foreground: oklch(1 0 0);
  --color-background: oklch(1 0 0);
  --color-border: oklch(0.8597 0.0035 247.86);
  --color-text: oklch(0 0 0);
}
